<!DOCTYPE html>
<html>
<head>
 	<meta charset="UTF-8">
	<title></title>
</head>
<body>

<button onclick='signup()'>signup</button>
<button onclick='login()'>login</button>

<script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
<script >
	function signup(){
		$.ajax({
			url:'/signup',
			type:'post',
			data:{
				userId:'234556' ,
				userPassword:'1234566' ,
				userName:'kelthzuard' ,
				userType:0 , //0代表用户，1代表发起者
			},
			success:function(data){
				console.log(data);
			}
		});
	}

	function login(){
		$.ajax({
			url:'/login',
			type:'post',
			data:{
				userId:'234556',
				userPassword:'1234566'
			},
			success:function(data){
				console.log(data);
			}
		});
	}
</script>
</body>
</html>
